docker.enabled = false

profiles {
    standard {
        process.executor = 'local'
        docker.enabled = false
    }

    hpc {
        process.executor = 'slurm'
        process.queue = 'batch'
        docker.enabled = false
        singularity.enabled = true
    }
}

// Use local work directory for Docker execution
workDir = "/data/work"
